@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
// font-family: 'Raleway', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
// font-family: 'Open Sans', sans-serif;

$color-text-primary: hsl(0, 0%, 100%);
$color-cyan: hsl(176, 68%, 64%);
$color-blue: hsl(198, 60%, 50%);
$color-main-bg: hsl(218, 28%, 13%);
$color-footer-bg: hsl(216, 53%, 9%);
$color-testimonials-bg: hsl(219, 30%, 18%);
$color-intro-email-bg: hsl(217, 28%, 15%);

@mixin m-q($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: $color-text-primary;
  background: $color-main-bg;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 127rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.heading-primary {
  font-family: "Raleway", sans-serif;
  max-width: 72rem;
  margin: 0 auto 4rem auto;
  font-size: 4rem;

  // &--form{
  //   font-size: 3rem;
  //   text-align: center;
  //   grid-column: 1/3;
  // }
}

.d-block {
  display: block;
}

.main-btn {
  color: $color-text-primary;
  background: linear-gradient(90deg, $color-cyan, $color-blue);
  padding: 2rem 9rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 5rem;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    transition: 0.3s ease-out;
  }

  &:hover::before {
    transform: translate(100%);
  }
}

// header
.header {
  padding: 7.2rem 0 2rem 0;
  background: url(./images/bg-curvy-desktop.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 1280px;
  background-color: $color-intro-email-bg;

  &__nav {
    @extend .container;
    max-width: 131rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-list {
    list-style: none;
    display: flex;
  }

  &__nav-item {
    margin: 0 2rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav-link {
    padding: 1rem;
    color: $color-text-primary;
    font-weight: 700;
    transition: all 0.3s ease-out;

    &:hover {
      color: $color-cyan;
    }
  }

  &__main-content {
    text-align: center;
    padding: 0 1.5rem;
  }

  &__intro-img {
    margin: 7.2rem auto 4rem auto;
  }

  &__description {
    max-width: 62rem;
    margin: 0 auto 3rem auto;
    font-size: 2rem;
  }
}

// features
.features {
  &__items {
    max-width: 91rem;
    padding: 0 1.5rem 2rem 1.5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 140px;
    row-gap: 100px;
  }

  &__item {
    text-align: center;
  }

  &__icon-container {
    height: 88px;
    margin-bottom: 3rem;
  }

  &__icon {
    margin: 0 auto;
  }

  &__title {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
  }

  &__explanation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    padding: 11rem 0 15rem 0;
  }

  &__explanation-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__heading {
    text-align: left;
    margin: unset;
    margin-bottom: 2rem;
    justify-self: start;
  }

  &__explanation-description {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
    background-image: linear-gradient(90deg, $color-cyan, $color-blue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background: linear-gradient(90deg, $color-cyan, $color-blue);
      position: absolute;
      left: 0;
      top: 120%;
    }
  }

  &__link-icon {
    padding-left: 0.8rem;
  }
}

.testimonials {
  &__items {
    max-width: 119rem;
    padding: 0 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -35px;
      left: 22px;
      background: url(./images/bg-quotes.png);
      width: 55px;
      height: 45px;
      z-index: -1;
    }
  }

  &__item {
    padding: 4rem 3rem 3rem;
    background: $color-testimonials-bg;
    box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
  }

  &__text {
    margin-bottom: 3rem;
    max-width: 30rem;
  }

  &__person {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
  }

  &__person-photo {
    border-radius: 50%;
  }
  &__name {
    font-size: 1.2rem;
  }

  &__occupation {
    font-size: 1rem;
  }
}

// sign-up
.sign-up {
  // position: relative;
  min-height: 360px;
  // min-height: 760px;
  &__form {
    position: relative;
    top: 200px;
    max-width: 86rem;
    min-height: 27rem;
    padding: 4.5rem 7rem 3.5rem 7rem;
    background: $color-intro-email-bg;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 200px;
    column-gap: 25px;
    box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
  }

  .heading-primary--form {
    font-size: 3rem;
    text-align: center;
    grid-column: 1/3;
    margin-bottom: 2rem;
  }

  &__desription {
    grid-column: 1/3;
    max-width: 62rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem;
    line-height: 1.6;
  }

  &__label {
    grid-column: 1/3;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &__email {
    padding: 1.5rem 4rem;
    border-radius: 5rem;
    border: none;
    font-family: inherit;
    font-size: 1.4rem;

    &::placeholder {
      color: rgb(192, 192, 192);
    }
  }

  &__message {
    grid-row: 5/6;
    padding: 0.5rem 0;
  }

  .main-btn--form {
    border: none;
    width: 100%;
    padding: 1.6rem;
    text-transform: capitalize;
    font-size: 1.4rem;
    cursor: pointer;
    font-family: inherit;
  }
}

.footer {
  min-height: 51.5rem;
  padding-top: 20rem;
  background: $color-footer-bg;
  a {
    color: inherit;
  }

  &__cols {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
  }

  &__col {
    &:nth-child(1) {
      grid-column: 1/4;
      display: flex;
      justify-content: space-between;
    }
    &:nth-child(2) {
      grid-column: 4/5;
      display: flex;
      flex-direction: column;
      margin-left: 8rem;
    }

    &:nth-child(3) {
      grid-column: 5/6;
      display: flex;
      flex-direction: column;
    }
    &:nth-child(4) {
      grid-column: 6/7;
      display: flex;
    }
  }

  &__location {
    max-width: 36rem;
  }

  &__location-link,
  &__phone,
  &__email {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    color: $color-text-primary;

    img {
      margin-right: 3rem;
      padding-top: 0.4rem;
    }
  }

  &__link {
    margin-bottom: 1.5rem;
  }

  &__phone,
  &__email {
    span {
      align-self: center;
    }
  }

  &__social-link {
    border: 1px solid $color-text-primary;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 1rem;
  }
}
