@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
// font-family: 'Raleway', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
// font-family: 'Open Sans', sans-serif;

$color-text-primary: hsl(0, 0%, 100%);
$color-cyan: hsl(176, 68%, 64%);
$color-blue: hsl(198, 60%, 50%);
$color-main-bg: hsl(218, 28%, 13%);
$color-footer-bg: hsl(216, 53%, 9%);
$color-testimonials-bg: hsl(219, 30%, 18%);
$color-intro-email-bg: hsl(217, 28%, 15%);

@mixin m-q($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: $color-text-primary;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 127rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
